<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <h2 mat-dialog-title>{{mode === 'create' ? 'Create New Customer' : 'Edit Customer'}}</h2>
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="form.controls['name'].hasError('required')">
                 Name is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone">
            <mat-error *ngIf="form.controls['phone'].hasError('required')">
               Phone no is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
            <mat-error *ngIf="form.controls['address'].hasError('required')">
                inventory_stock is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Proof</mat-label>
            <input matInput formControlName="proof">
            <mat-error *ngIf="form.controls['proof'].hasError('required')">
                Proof is required.
            </mat-error>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" color="warn" mat-button [mat-dialog-close]="emitEvents">Cancel</button>
        <button [disabled]="!form.valid" type="submit" mat-button>
            {{mode === 'create' ? 'Create' : 'Update'}}
        </button>
    </mat-dialog-actions>
</form>