<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <h2 mat-dialog-title>{{mode === 'create' ? 'Create New Booking' : 'Edit Booking'}}</h2>
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="outline">
            <mat-label>Category Name</mat-label>
            <select matNativeControl required>
                <option *ngFor="let category of categoryList" value="{{category._id}}">{{category?.name}}</option>
            </select>
            <mat-error *ngIf="form.controls['name'].hasError('required')">
                Category name is required.
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" color="warn" mat-button [mat-dialog-close]="emitEvents">Cancel</button>
        <button [disabled]="!form.valid" type="submit" mat-button>
            {{mode === 'create' ? 'Create' : 'Update'}}
        </button>
    </mat-dialog-actions>
</form>