<app-page-header>
    <div class="page-header mb-0">
        <h1 class="heading">Dashboard</h1>
    </div>
</app-page-header>

<section class="overview gap-2" fxLayout="row wrap" fxLayout.lt-sm="column">
    <mat-card class="item" fxLayout.lt-sm="100" fxFlex.lt-md="calc(50%-1rem)" fxFlex.md="calc(50%-1rem)"
        fxFlex.lg="calc(20%-1rem)" fxFlex.gt-lg="calc(20%-1rem)" fxFlex.xl="calc(20%-1rem)">
        <mat-card-header>
            <i mat-card-avatar class="fa-light fa-3x fa-chart-simple"></i>
            <mat-card-title>title</mat-card-title>
            <mat-card-subtitle class="mb-0">subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="item" fxLayout.lt-sm="100" fxFlex.lt-md="calc(50%-1rem)" fxFlex.md="calc(50%-1rem)"
        fxFlex.lg="calc(20%-1rem)" fxFlex.gt-lg="calc(20%-1rem)" fxFlex.xl="calc(20%-1rem)">
        <mat-card-header>
            <i mat-card-avatar class="fa-light fa-3x fa-chart-simple"></i>
            <mat-card-title>300</mat-card-title>
            <mat-card-subtitle class="mb-0">Employees</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="item" fxLayout.lt-sm="100" fxFlex.lt-md="calc(50%-1rem)" fxFlex.md="calc(50%-1rem)"
        fxFlex.lg="calc(20%-1rem)" fxFlex.gt-lg="calc(20%-1rem)" fxFlex.xl="calc(20%-1rem)">
        <mat-card-header>
            <i mat-card-avatar class="fa-light fa-3x fa-chart-simple"></i>
            <mat-card-title>title</mat-card-title>
            <mat-card-subtitle class="mb-0">subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="item" fxLayout.lt-sm="100" fxFlex.lt-md="calc(50%-1rem)" fxFlex.md="calc(50%-1rem)"
        fxFlex.lg="calc(20%-1rem)" fxFlex.gt-lg="calc(20%-1rem)" fxFlex.xl="calc(20%-1rem)">
        <mat-card-header>
            <i mat-card-avatar class="fa-light fa-3x fa-chart-simple"></i>
            <mat-card-title>title</mat-card-title>
            <mat-card-subtitle class="mb-0">subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="item" fxLayout.lt-sm="100" fxFlex.lt-md="calc(50%-1rem)" fxFlex.md="calc(50%-1rem)"
        fxFlex.lg="calc(20%-1rem)" fxFlex.gt-lg="calc(20%-1rem)" fxFlex.xl="calc(20%-1rem)">
        <mat-card-header>
            <i mat-card-avatar class="fa-light fa-3x fa-chart-simple"></i>
            <mat-card-title>title</mat-card-title>
            <mat-card-subtitle class="mb-0">subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</section>